<a class="title-link" href="/catalog"><h2>CraftShop</h2></a>
<div class="row">
    <div class="col btn-group">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Nickname
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><a class="dropdown-item" href="/basketProducts">Корзина</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
        </ul>
    </div>
    <div class="col list-view">
        <button type="button" class="btn btn-primary btn-sm ">EN</button>
        <button type="button" class="btn btn-primary btn-sm">RU</button>
    </div>
</div>